//Font colors
$reset-color: #FFFFFF;
$primary-color: #E6E2AF;
$variables-color: #4E7AC7;

//Background colors
$primary-background-color: #272B35;
$header-background-color: #A7A37E;
$icon-color: #6A695E;
$result-color: #36B1BF;
$button-color: #046380;
$hover-color: #D7D5BE;

//Background opacity
$rgba-10: rgba(0,0,0,.10);
$rgba-15: rgba(0,0,0,.15);

//Font sizes for < 5 rows
$input-font-size: 16px;
$label-font-size: 18px;
$blueprint-font-size: 20px;

//Font sizes for === 5 rows
$R5-input-font-size: 14px;
$R5-label-font-size: 16px;
